@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 478px;
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: #83dc86;
}
.calc-body {
    margin-top: 50px;
    background-color: #FFFFFF;
    border-radius: 38px;
}
.general {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
}
.calc-heading {
    font-size: 50px;
    line-height: 63px;
    color: #466C48;
    padding: 50px;
}
.calc-window {
    font-size: 30px;
    line-height: 38px;
    text-align: end;
    color: #000000;
    padding-right: 30px;
}
.calc-result {
    font-size: 70px;
    text-align: end;
    padding-right: 30px;
}
.bottom-rule {
    width: 69px;
    height: 5px;
    background-color: #8CD790;
    border-radius: 31px;
    margin: 10px;
    margin-left: 200px;
}
.calc-numbers {
    display: flex;
    background-color: #D7FFF1;
    border-radius: 12px 12px 38px 38px;
}
.calc-list {
    list-style-type: none;
    padding: 30px 20px;
    text-align: center;
}
.calc-item {
    padding: 20px 5px;
    font-size: 40px;
    color: #000000;
}
.green {
    color: #8CD790;
}
.equal {
    font-size: 70px;
    padding: 0px 20px 10px;
    background-color: #8CD790;
    border-radius: 10px;
    color: #FFFFFF;
}